
html, body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('first.JPG');
	font-family: Helvetica;
	height: 100vh;
	background-size: cover;
	background-position: center; 
}

.container h1{
	font-size: 3.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #D3D3D3;
}

.main{
    width: 86%;
    margin: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .container{
    background: #394366;
	box-shadow: 0.1px 0.4px 0.8px 2px #A9A9A9;
}

.container{
	width: 80%;
}

.row{
	display: inline;
}

h2{
	font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 2.6rem;
    color: #D3D3D3;
}

h3{
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: #D3D3D3;

}
#inp{
	width: 90%;
	height: auto;
	padding-left: 0px;
}

.choices{
	width: 90%;
	margin: auto;
}

button.btn{
	border: none;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	left: 700px;
	background: #4CAF50;
    display: inline-block;
	cursor: pointer;
	font-size: 20px;
	padding: 10px 12px;
	transition: background 2s;
}

button.btn:hover, button.btn:active{
	background: #43A047;
}

.final{
	display: none;
}